.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    background-color: #333;
    position: fixed; /* Add this line to fix the navbar to the top of the page */
    top: 0; /* Add this line to fix the navbar to the top of the page */
    left: 0; /* Add this line to fix the navbar to the top of the page */
    right: 0; /* Add this line to fix the navbar to the top of the page */
    z-index: 999; /* Add this line to ensure the navbar is always on top */
  }
  
  .navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
  }
  
  .navbar-link {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .navbar-link:hover {
    color: #eee;
  }

  .navbar-logo {
    height: 40px; /* Adjust this value to control the size of the logo */
    margin: 10px; /* Add some space around the logo */
    border-style: solid;
    border-color: black
  }

  .navbar-logo:active {
    border-color:#cc1717
  }
  